@model IEnumerable<Obrazcovo.Models.Thread>

@{
    ViewBag.Title = "Index";
}

<h2>Форум</h2>

<p>
    @Html.ActionLink("Создать тему", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Index", "Messages",  new { id = item.Id },new { })
        </td>
        <td>
            @Html.ActionLink("Edit" , "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
